version: '3'

services:
  frontend:
    build:
      context: ./front
    ports:
      - "4200:4200"
    depends_on:
      - backend

  backend:
    build:
      context: ./back
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=jdbc:mysql://db:3306/mydb
    depends_on:
      - db

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sonarqube
      MYSQL_USER: sonarqube
      MYSQL_PASSWORD: sonar
    ports:
      - "3307:3306"

  sonarqube:
    image: sonarqube:latest
    ports:
      - "9000:9000"
    environment:
      - SONARQUBE_JDBC_URL=jdbc:mysql://db:3306/mydb
      - SONARQUBE_JDBC_USERNAME=user
      - SONARQUBE_JDBC_PASSWORD=password
      - SONAR_JAVA_VERSION=17
    depends_on:
      - db

networks:
  default:
    name: mynetwork
