name: Back-end SonarQube Analysis
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonar:
    runs-on: windows-latest

    steps:
      - name: Clone the repository into the GitHub Actions runner environment
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with: 
          java-version: 17
          distribution: zulu

      - name: Allow script execution on Windows
        run: Set-ExecutionPolicy -Scope Process -ExecutionPolicy Bypass -Force

      - name: Install dependencies
        run: |
          cd back
          mvn clean install

      - name: Run SonarQube Analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_BACKEND }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL_BACKEND }}
        run: mvn clean verify sonar:sonar -Dsonar.projectKey=Projet-10-OpenClassrooms-Back-end -Dsonar.host.url=${{ secrets.SONAR_HOST_URL_BACKEND }} -Dsonar.login=${{ secrets.SONAR_TOKEN_BACKEND }} -f back/pom.xml
