name: Back-end - Workflow CI/CD

on:
    workflow_dispatch:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    docker:
        runs-on: ubuntu-latest
        
        steps:
            - name: Clone the repository into the GitHub Actions runner environment
              uses: actions/checkout@v4

            - name: Build Docker Image
              run:
                docker build -t ${{ secrets.DOCKER_USERNAME }}/bobapp-back:latest .
        
            - name: Log in to Docker Hub
              uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build Docker Image
              working-directory: back
              run:
                docker build -t ${{ secrets.DOCKER_USERNAME }}/bobapp-back:latest .
        
            - name: Push Docker Image
              working-directory: back
              run:
                docker push ${{ secrets.DOCKER_USERNAME }}/bobapp-back:latest
