name: Back-end SonarQube analysis

on:
    workflow_dispatch:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    sonarqube:
        runs-on: ubuntu-latest
        
        steps:
            - name: Clone the repository into the GitHub Actions runner environment
              uses: actions/checkout@v4
              with:
                fetch-depth: 0

            - name: Set up JDK 17
              uses: actions/setup-java@v4
              with: 
                java-version: 17
                distribution: zulu

            - name: Install dependencies
              working-directory: back
              run: 
                mvn clean install
              
            - name: Run tests with Jacoco coverage report
              working-directory: back
              run:
                mvn test jacoco:report
                
            - name: Build and analyze
              env:
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              working-directory: back
              run:
               mvn verify sonar:sonar \
                 -Dsonar.projectKey=Gerez-un-projet-collaboratif-en-integrant-une-demarche-CI-CD \
                 -Dsonar.organization=tetho \
                 -Dsonar.branch.name=${{ github.ref_name }} \
                 -Dsonar.host.url=https://sonarcloud.io \
                 -Dsonar.java.binaries=target/classes \
                 -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml \
                 -Dsonar.java.coveragePlugin=jacoco
                
