name: Back-end tests and Jacoco coverage report

on:
    workflow_dispatch:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    backend-tests:
        runs-on: windows-latest
        
        steps:
            - name : Clone the repository into the GitHub Actions runner environment
              uses: actions/checkout@v3

            - name: Set up JDK 17
              uses: actions/setup-java@v3
              with: 
                java-version: 17
                distribution: zulu

            - name : Install dependencies
              run : |
                cd back
                mvn clean install
              
            - name: Run tests with Jacoco coverage report
              run: |
                cd back
                mvn test jacoco:report

            - name: Upload Jacoco report
              uses: actions/upload-artifact@v3
              with:
                name: jacoco-report
                path: back/target/site/jacoco/index.html
