name: Back-end - Workflow CI/CD

on:
    workflow_dispatch:
    workflow_run:
        workflows: ["Back-end - Quality"]
        types:
          - completed
jobs:
    tests:
        runs-on: ubuntu-latest
        
        steps:
            - name: Clone the repository into the GitHub Actions runner environment
              uses: actions/checkout@v4

            - name: Set up JDK 11
              uses: actions/setup-java@v4
              with: 
                java-version: 11
                distribution: zulu

            - name: Install dependencies
              working-directory: back
              run: 
                mvn clean install
              
            - name: Run tests with Jacoco coverage report
              working-directory: back
              run:
                mvn test jacoco:report

            - name: Upload Jacoco report
              uses: actions/upload-artifact@v4
              with:
                name: tests-jacoco-report
                path: back/target/site/jacoco/*

    quality:
        runs-on: ubuntu-latest
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        
        steps:
            - name: Clone the repository into the GitHub Actions runner environment
              uses: actions/checkout@v4
                
            - name: Build and analyze
              env:
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_BACKEND }}
              working-directory: back
              run: |
                mvn verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
                  -Dsonar.projectKey=tetho_gerez-un-projet-collaboratif-en-integrant-une-demarche-ci-cd-back-end \
                  -Dsonar.organization=tetho \
                  -Dsonar.host.url=https://sonarcloud.io \
                  -Dsonar.branch.name=${{ github.ref_name }} \
                  -Dsonar.java.binaries=target/classes \
                  -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml \
                  -Dsonar.java.coveragePlugin=jacoco
                  
            - name: Upload Jacoco report
              uses: actions/upload-artifact@v4
              with:
                name: quality-jacoco-report
                path: back/target/site/jacoco/*

    docker:
        runs-on: ubuntu-latest
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        
        steps:
            - name: Clone the repository into the GitHub Actions runner environment
              uses: actions/checkout@v4

            - name: Log in to Docker Hub
              uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build Docker Image
              run:
                docker build -t ${{ secrets.DOCKER_USERNAME }}/bobapp-back:latest -f ./back/Dockerfile ./back
        
            - name: Push Docker Image
              run:
                docker push ${{ secrets.DOCKER_USERNAME }}/bobapp-back:latest
