name: Front-end SonarQube analysis

on:
    workflow_dispatch:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    frontend-tests:
        runs-on: ubuntu-latest
        
        steps:
            - name: Clone the repository into the GitHub Actions runner environment
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with: 
                node-version: 18

            - name: Install dependencies
              working-directory: front
              run:
                npm install

            - name: Run tests with test coverage report
              working-directory: front
              run:
                npx ng test --watch=false --code-coverage=true
            
            - name: Run SonarCloud analysis
              env:
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}  # Assurez-vous de configurer ce secret dans GitHub
              working-directory: front
              run: |
                npm install -g sonar-scanner
                npx sonar-scanner \
                  -Dsonar.projectKey=Gerez-un-projet-collaboratif-en-integrant-une-demarche-CI-CD \
                  -Dsonar.organization=tetho \
                  -Dsonar.host.url=https://sonarcloud.io \
                  -Dsonar.sources=src \
                  -Dsonar.exclusions=**/*.spec.ts \
                  -Dsonar.javascript.lcov.reportPaths=front/coverage/lcov.info
            
