name: Front-end tests and test coverage report

on:
    workflow_dispatch:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    frontend-tests:
        runs-on: windows-latest
        
        steps:
            - name : Clone the repository into the GitHub Actions runner environment
              uses: actions/checkout@v3

            - name: Set up Node.js
              uses: actions/setup-node@v3
              with: 
                node-version: 18

            - name : Install dependencies
              run : |
                cd front
                npm install

            - name: Run tests with test coverage report
              run: |
                cd front
                npx ng test --watch=false --code-coverage=true
                
            - name: Upload coverage report
              uses: actions/upload-artifact@v3
              with:
                name: angular-coverage-report
                path: front/coverage/*

            - name: Build the Angular app for E2E tests
              run: |
                cd front
                npx ng build --configuration=production

            - name: Start the Angular application in the background
              run: |
                cd front
                npx ng serve --configuration=production --port=4200 & sleep 10

            - name: Run E2E tests
              run: |
                cd front
                npx ng e2e

            - name: Upload E2E test results
              uses: actions/upload-artifact@v3
              with:
                name: e2e-test-results
                path: front/e2e-test-results/*
